@charset "utf-8";

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}


a, button {
    cursor: revert;
}


ol, ul, nave {
    list-style: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}


table {
    border-collapse: collapse;
}


input, textarea {
    -webkit-user-select: auto;
        user-select: auto;
}


textarea {
    white-space: revert;
}


meter {
    -webkit-appearance: revert;
    appearance: revert;
}


:where(pre) {
    all: revert;
}


::placeholder {
    color: unset;
}


::marker {
    content: initial;
}


:where([hidden]) {
    display: none;
}


:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
        line-break: after-white-space;
    -webkit-user-select: auto;
        user-select: auto;
}


:where([draggable="true"]) {
    -webkit-user-drag: element;
}


:where(dialog:modal) {
    all: revert;
}

body{
    background-color: rgb(3, 3, 3);
}

header{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(239, 239, 239);
    padding: 1em;
}

#menu-links li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display: inline-block;
    padding: 0em 1em;
}

#menu-links li a{
    transition: all 0.3s ease 0s;
}

#menu-links li a:hover{
    background-color: black;
    padding: 1em 0.2em;
    color: rgba(255, 248, 45, 0.936);
}

