@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

:root{
    --font:'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;

    --huge-weight:600;
    --btn-weight:500;
    --medium-weight:400;
    --small-weight:300;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio, input, select):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}


a, button {
    cursor: revert;
}


ol, ul, nave {
    list-style: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}


table {
    border-collapse: collapse;
}


textarea {
    white-space: revert;
}


meter {
    -webkit-appearance: revert;
    appearance: revert;
}


:where(pre) {
    all: revert;
}


::placeholder {
    color: unset;
}


::marker {
    content: initial;
}


:where([hidden]) {
    display: none;
}


:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
        line-break: after-white-space;
    -webkit-user-select: auto;
        user-select: auto;
}


:where([draggable="true"]) {
    -webkit-user-drag: element;
}


:where(dialog:modal) {
    all: revert;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-image: url(../imgs/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #101010;
    font-family: var(--font);
}

::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background: #eeeeee;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #eeeeee93;
    border-radius: 1rem;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.3rem;
}

#logo{
    width: 121px;
    height: 41px;
}

nav{
    margin: 1.3rem 0rem;
    border: solid;
    border-color: #dfdfdf54;
    border-width: 0.15rem;
    border-radius: 0.8rem;
}

nav ul{
    display: flex;
}

nav a{
    font-family: var(--font);
    font-weight: var(--small-weight);
    color: #eeeeee;
    font-size: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    display: block;
    transition: all 0.4s ease-in;
}

nav a:hover{
    background-color: #f6f6f62d;
}

#sobre {
    border-radius: 0.6rem 0rem 0rem 0.6rem;
}

#planos {
    border-radius: 0rem 0.8rem 0.8rem 0rem;
}


.icon-share{
    margin: 0rem 1rem;
    width: 2.4rem;
    height: 2.4rem;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.icon-share:hover{
    filter:brightness(0) saturate(100%) invert(70%) sepia(52%) saturate(556%) hue-rotate(19deg) brightness(98%) contrast(89%);
}

#lp_elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem;
    z-index: 1;
}

#title_lp{
    font-family: var(--font);
    font-weight: var(--huge-weight);
    color: #eeeeec;
    line-height: 1.2;
    font-size: 5.8rem;
    text-align: center;
}

#subtitle_lp{
    font-family: var(--font);
    font-weight: var(--medium-weight);
    color: #eeeeecdc;
    line-height: 2;
    font-size: 2.2rem;
    text-align:center;
}

.gradient_text{
    background: rgb(249,252,21);
    background: -moz-linear-gradient(48deg, rgba(249,252,21,1) 0%, rgba(253,253,218,1) 100%);
    background: -webkit-linear-gradient(48deg, rgba(249,252,21,1) 0%, rgba(253,253,218,1) 100%);
    background: linear-gradient(48deg, rgba(249,252,21,1) 0%, rgba(253,253,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9fc15",endColorstr="#fdfdda",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#btn_lading{
    margin: 2.8rem 0rem;
    padding: 0.6rem 0rem;
    display: block;
    background-clip: padding-box;
    border: 0.47rem solid transparent;
    width: 26.5rem;
    font-family: var(--font);
    font-weight: var(--btn-weight);
    color: #ffff;
    text-align: center;
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
    background: linear-gradient(48deg, rgba(13,13,13,1) 0%, rgba(39,39,39,1) 100%) padding-box,
    linear-gradient(to top, rgba(66,57,27,1), rgba(249,251,60,1)) border-box;
    border-radius: 1rem;
    transition: all 0.4s ease-in;
    z-index: 2;
}

#btn_lading:hover{          
    color:#060606;
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
    font-family: var(--font);
    font-weight: 700;
    background: linear-gradient( 90deg, rgb(170,134,7) 0%, rgb(190,162,8) 11%, rgb(191,180,9) 22%, rgb(194,179,12) 34%, rgb(100,93,12) 66%, rgb(245,226,65) 100%) padding-box,
    linear-gradient(to top, rgba(66,57,27,1), rgba(249,251,60,1)) border-box;
}

#tabuleiro {
    margin-top: 4rem;
    width: 52rem;
    height: 38rem;
    display: block;
    z-index: 2;
    margin-left: auto;
    margin-right: auto; 
}

#players{
    position: absolute;
    margin-top: 6.9rem;
    z-index: 1;
}

.text-container{
    margin-right: 3rem ;
    text-wrap: wrap;
}


.container-info{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    width: 64%;
    margin: 0 auto;
    position: relative;
    height: 26rem;
    font-size: 1.65rem;
    font-weight: 400;
    background-color: #eeeeec;
    border-radius: 1.4rem;
    position: relative;
    transform: translateY(-11%);
}

#logo-image{
    width: 34.6rem;
    height: 28.2rem;
}

.teacher-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 6rem 5rem;
    height: 40rem; 
}

#teacher-ana{
    background-image: url(../imgs/bg_ana.png);
    background-color: #f5f5f5;
    background-size: 36rem 28rem;
    background-position: 50% -2rem;
    
}

#teacher-lucas{
    background-image: url(../imgs/bg_lucas.png);
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: 50rem 30rem;
    background-position: 45% 2rem;
}

#teacher-rodrigo{
    background-image: url(../imgs/bg_rodrigo.png);
    background-color: #f5f5f5;
    background-size: 60rem 35rem;
    background-position: 80% 2.2rem;
}


.teacher-container .container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    width: 35rem;
    border-radius: 1rem;
}

.teacher-text {
    background-color: #1f1f1f;
    padding: 2rem;
    color: #ffff;
    font-size: 1.45rem;
    font-weight: 400;
    width: auto;
    height: 15.3rem;
    border-radius: 0 0 0.8rem 0.8rem;
    z-index: 0
}

.name-teacher{
    display: flex;
    align-items: center;
    font-size: 4.5rem;
    font-family: "Bonheur Royale", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0.5rem;
}

.stars{
    display: flex;
    gap: 0.60rem;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-left: 1rem;
}

.image-teacher{
    height: 25rem;
    width: 20rem;
    translate: 0rem 3.3rem;
}

.image-curse{
    width: 100%;
    height: 30.5rem;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 0.7rem 0.7rem 0rem 0rem;
    filter: grayscale(100%) brightness(97%) contrast(125%);
    transition: filter 1s ease;
}

.image-curse:hover{
    filter: grayscale(0%) brightness(92%) contrast(113%);
}

.curses{
    display: flex;
    overflow: hidden;
    margin-bottom: 10rem;
    &:hover .slider{
        animation-play-state: paused;
    }
}

.slider{
    display: flex;
    gap: 5rem;
    padding-right: 5rem;
    white-space: nowrap;
    will-change: transform;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


.container-curse{
    height: 47rem;
    background-color: #f3f3f3;
    border-radius: 0.7rem;
    width: 39rem;
}


.title-curses{
    font-family: var(--font);
    font-weight: 500;
    color: #eeeeec;
    line-height: 1.2;
    font-size: 4.7rem;
    text-align: center;
    margin-top: 9rem;
}

.subtitle-curses{
    font-family: var(--font);
    font-weight: 300;
    color: #eeeeecdc;
    line-height: 2;
    font-size: 2.17rem;
    text-align:center;
    margin-bottom: 9rem;
}

.color-title{
    color: rgb(249,252,21);;
}

.text-curse{
    padding: 2.25rem;
}

.text-curse h1{
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 1.2;
}

.text-curse p{
    color: #060606;
    margin-top: 1rem;
    font-size: 1.4rem;
    size: 1rem;
}

