@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

:root{
    --font:'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;

    --huge-weight:600;
    --btn-weight:500;
    --medium-weight:400;
    --small-weight:300;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio, input, select):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}


a, button {
    cursor: revert;
}


ol, ul, nave {
    list-style: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}


table {
    border-collapse: collapse;
}


textarea {
    white-space: revert;
}


meter {
    -webkit-appearance: revert;
    appearance: revert;
}

@font-face {
    font-family: 'Roygen';
    src: url('/assets/fonts/roygen.ttf') format('truetype');
}


:where(pre) {
    all: revert;
}


::placeholder {
    color: unset;
}


::marker {
    content: initial;
}


:where([hidden]) {
    display: none;
}


:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
        line-break: after-white-space;
    -webkit-user-select: auto;
        user-select: auto;
}


:where([draggable="true"]) {
    -webkit-user-drag: element;
}


:where(dialog:modal) {
    all: revert;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth
}

body{
    background-image: url(../imgs/background.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: local;
    background-size: cover;
    background-color: #101010;
    font-family: var(--font);
}

::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background: #eeeeee;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #eeeeee93;
    border-radius: 1rem;
}

header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1.3rem;
}

#logo{
    margin-left: 1rem;
    width: 12.1rem;
    height: 4.1rem;
}

nav{
    margin: 1.3rem 0rem;
    border: solid;
    border-color: #dfdfdf54;
    border-width: 0.15rem;
    border-radius: 0.8rem;
}

nav ul{
    display: flex;  
}

nav a{
    font-family: var(--font);
    font-weight: var(--small-weight);
    color: #eeeeee;
    font-size: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    display: block;
    transition: all 0.4s ease-in;
}

nav a:hover{
    background-color: #f6f6f62d;
}

#nav-sobre {
    border-radius: 0.6rem 0rem 0rem 0.6rem;
}

#nav-planos {
    border-radius: 0rem 0.8rem 0.8rem 0rem;
}


.icon-share{
    margin: 0rem 1rem;
    width: 2.4rem;
    height: 2.4rem;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.icon-share:hover{
    filter:brightness(0) saturate(100%) invert(70%) sepia(52%) saturate(556%) hue-rotate(19deg) brightness(98%) contrast(89%);
}

#lp_elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7.5rem 1rem 0 1rem;
    z-index: 1;
}

#title_lp{
    font-family: var(--font);
    font-weight: var(--huge-weight);
    color: #eeeeec;
    line-height: 1.2;
    font-size: 5.8rem;
    text-align: center;
}

#subtitle_lp{
    font-family: var(--font);
    font-weight: var(--medium-weight);
    color: #eeeeecdc;
    line-height: 2;
    font-size: 2.2rem;
    text-align:center;
}

.gradient_text{
    background: rgb(249,252,21);
    background: -moz-linear-gradient(48deg, rgba(249,252,21,1) 0%, rgba(253,253,218,1) 100%);
    background: -webkit-linear-gradient(48deg, rgba(249,252,21,1) 0%, rgba(253,253,218,1) 100%);
    background: linear-gradient(48deg, rgba(249,252,21,1) 0%, rgba(253,253,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9fc15",endColorstr="#fdfdda",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

#btn_lading{
    margin: 2.8rem 0rem;
    padding: 0.6rem 0rem;
    display: block;
    background-clip: padding-box;
    border: 0.47rem solid transparent;
    width: 26.5rem;
    font-family: var(--font);
    font-weight: var(--btn-weight);
    color: #ffff;
    text-align: center;
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
    background: linear-gradient(48deg, rgba(13,13,13,1) 0%, rgba(39,39,39,1) 100%) padding-box,
    linear-gradient(to top, rgba(66,57,27,1), rgba(249,251,60,1)) border-box;
    border-radius: 1rem;
    transition: all 0.4s ease-in;
    z-index: 2;
}

#btn_lading:hover{          
    color:#060606;
    font-size: 1.7rem;
    letter-spacing: 0.03rem;
    font-family: var(--font);
    font-weight: 700;
    background: linear-gradient( 90deg, rgb(170,134,7) 0%, rgb(190,162,8) 11%, rgb(191,180,9) 22%, rgb(194,179,12) 34%, rgb(100,93,12) 66%, rgb(245,226,65) 100%) padding-box,
    linear-gradient(to top, rgba(66,57,27,1), rgba(249,251,60,1)) border-box;
}

@keyframes positon-tab {
    0% {
        transform: translateY(11rem);
    }
}

#tabuleiro {
    margin-top: 4rem;
    width: 52rem;
    height: 38rem;
    display: block;
    z-index: 2;
    margin-left: auto;
    margin-right: auto; 
    animation: positon-tab 1.5s linear;
}

#players{
    position: absolute;
    margin-top: 6.9rem;
    z-index: 1;
}

.text-container{
    margin-right: 3rem ;
    text-wrap: wrap;
}


.container-info{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    width: 82rem;
    margin: 0 auto;
    position: relative;
    height: 26rem;
    font-size: 1.65rem;
    font-weight: 400;
    background-color: #eeeeec;
    border-radius: 1.4rem;
    transform: translateY(-11%);
}

#logo-image{
    width: 34.6rem;
    height: 28.2rem;
}

.teacher-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 6rem auto;
    padding: 0 2rem;
    max-width: 120rem;
}

.teacher-container .container{
    display: flex;
    flex-direction: column;
    width: 35rem;
    border-radius: 1rem;
}

#teacher-ana{
    background-image: url(../imgs/bg_ana.png);
    background-color: #f5f5f5;
    background-size: 36rem 28rem;
    background-position: 50% -2rem;
    
}

#teacher-lucas{
    background-image: url(../imgs/bg_lucas.png);
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: 50rem 30rem;
    background-position: 45% 2rem;
}

#teacher-rodrigo{
    background-image: url(../imgs/bg_rodrigo.png);
    background-color: #f5f5f5;
    background-size: 60rem 35rem;
    background-position: 79% -3rem;
}

.teacher-text {
    background-color: #1f1f1f;
    padding: 2rem;
    color: #ffff;
    font-size: 1.45rem;
    font-weight: 400;
    width: auto;
    height: 13rem;
    border-radius: 0 0 0.8rem 0.8rem;
    z-index: 0
}

.name-teacher{
    display: flex;
    align-items: center;
    font-size: 3.1rem;
    font-family: "Roygen";
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0.5rem;
}

.stars{
    display: flex;
    gap: 0.60rem;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-left: 1rem;
}

.image-teacher{
    height: 25rem;
    width: 20rem;
    translate: 0rem 3.3rem;
}

.image-curse{
    width: 100%;
    height: 30.5rem;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 0.7rem 0.7rem 0rem 0rem;
    filter: grayscale(100%) brightness(97%) contrast(125%);
    transition: filter 1s ease;
}

.image-curse:hover{
    filter: grayscale(0%) brightness(92%) contrast(113%);
}

.curses{
    display: flex;
    overflow: hidden;
    margin-bottom: 10rem;
    &:hover .slider{
        animation-play-state: paused;
    }
}

.slider{
    display: flex;
    gap: 5rem;
    padding-right: 5rem;
    white-space: nowrap;
    will-change: transform;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


.container-curse{
    height: 47rem;
    background-color: #f3f3f3;
    border-radius: 0.7rem;
    width: 39rem;
}


.title-curses{
    font-family: var(--font);
    font-weight: 500;
    color: #eeeeec;
    line-height: 1.2;
    font-size: 4.7rem;
    text-align: center;
    margin-top: 9rem;
}

.subtitle-curses{
    font-family: var(--font);
    font-weight: 400;
    color: #fffffff1;
    line-height: 2;
    font-size: 2.17rem;
    text-align:center;
    margin-bottom: 8rem;
}

.color-title{
    color: rgb(249,252,21);;
}

.text-curse{
    padding: 2.25rem;
}

.text-curse h1{
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 1.2;
}

.text-curse p{
    color: #060606;
    margin-top: 1rem;
    font-size: 1.4rem;
    size: 1rem;
}

@keyframes animate-plans {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.plans{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 59rem;
    gap: 5rem;
    margin-bottom: 24rem;
    padding: 3rem;
    animation: animate-plans 1.5s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 45%;
}

.container-plan{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 57rem;
    width: 34rem;
    background-color: #f0f0f0;
    border-radius: 1.2rem;
}

.container-plan button{
    font-size: 1.7rem;
    font-weight: 500;
    padding: 0.8rem 5.5rem;
    border-radius: 0.6rem;
    background: linear-gradient(48deg, rgba(13,13,13,1) 0%, rgba(39,39,39,1) 100%) padding-box,
    linear-gradient(90deg, rgb(48,48,48) 0%, rgb(28,28,28) 100%) border-box;
    color: #f0f0f0;
    border: solid 0.4rem #606060;
    margin: 1rem 0;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.second{
    margin-top: 10rem;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient( -131deg, rgb(28,28,28) 0%, rgb(69,69,69) 100%);
    border: solid 0.02rem #eeeeec;
    color: #eeeeec;
    font-size: 7.1rem;
    font-family: "Roygen";
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 29%;
    border-radius: 1rem 1rem 0rem 0rem;
}


.price .coin{
    font-size: 3.27rem;
    padding: 0 0.8rem 1.5rem 0;
}

.price .month{
    font-size: 4.15rem;
    padding-top: 1rem;
}

.info-plan p{
    font-size: 1.6rem;
    margin: 2.5rem;
    font-weight: 500;
    border-style: solid;
    border-width: 0 0 0 medium;
    padding-left: 1rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/footer-image.png);
    background-repeat: no-repeat;
    background-size: 100% 30rem;
    background-position: 50% 0rem;
    margin-top: 2rem;
    height: 30rem;
    width: 100%;
}

footer .icon-share{
    width: 2.5rem;
    height: 2.5rem;
}

footer #logo{
    width: 30rem;
    height: 10rem;
    margin-bottom: 2rem;
}

.btn-get:hover{
    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#sobre {
    scroll-margin-top: 10rem; /* Ajuste o valor conforme necess치rio */
}

#cursos {
    scroll-margin-top: 10rem; /* Ajuste o valor conforme necess치rio */
}

#planos {
    scroll-margin-top: -1rem; /* Ajuste o valor conforme necess치rio */
}

#professores {
    scroll-margin-top: 10rem; /* Ajuste o valor conforme necess치rio */
}

@media screen and (max-width: 1042px){
    .container-info{
        scale: 0.95;
    }
}

@media screen and (max-width: 962px){
    .container-info{
        display: none;
    }
    #tabuleiro{
        width: 43rem;
        height: 30rem;
    }
    #title_lp{
        font-size: 4.8rem;
    }
    #subtitle_lp{
        font-size: 1.8rem;
    }
    #btn_lading{
        width: 22.5rem;
        font-size: 1.5rem;
    }
    .teacher-container{
        margin-top: -2rem;
    }

}

@media screen and (max-width: 786px){
    .teacher-container{
        flex-direction: column;
        width: 100%;
        height: 42rem;
        gap: 2rem;
        overflow-x: auto;
        padding-bottom: 2.5rem;
        scroll-snap-type: x mandatory;
        margin-bottom: 9rem;
        overflow-y: hidden;
    }

    .teacher-container::-webkit-scrollbar {
        height: 4px; /* Define a altura da barra de rolagem horizontal */
        border-radius: 10px; /* Bordas arredondadas */
    }
}


@media screen and (max-width: 823px){
    #tabuleiro{
        width: 38rem;
        height: 27rem;
    }
    #players{
        display: none;
    }
}


@media screen and (max-width: 1116px){
    .container-plan{
        height: 60rem;
    }
    .container-plan button{
        margin: 2rem 0;
    }
}


@media screen and (max-width: 1031px){
    .plans{
        flex-wrap: wrap;
        height: auto;
        margin-bottom: 9rem;
    }
    .second{
        margin: 0;
    }
}


@media screen and (max-width: 790px){
    .plans{
        flex-direction: column;
        width: 100%;
        height: 63rem;
        gap: 2.5rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding: 0 2rem;
        margin-bottom: 9rem;
    }

    .plans::-webkit-scrollbar {
        height: 4px; /* Define a altura da barra de rolagem horizontal */
        border-radius: 10px; /* Bordas arredondadas */
    }
    

    .container-plan{
        scroll-snap-align: center;
    }

    .container-plan button{
        margin: 2rem 0;
    }
}



@media screen and (max-width: 736px){
    header{
        flex-direction: column;
        margin-top: 1.5rem;
        align-content: center
    }
    .social-media .icon-share{
        display: none;
    }
    #logo{
        margin: 1.6rem 0;
        width: 17rem;
        height: 5.8rem;
    }
    footer{
        background: transparent;
    }
}


@media screen and (max-width: 485px){
    nav{
        scale: 0.9;
        padding: 0.7rem 0.5rem;
    }
}

@media screen and (max-width: 485px){
    nav{
        scale: 0.8;
    }
}

@media screen and (max-width: 395px){
    nav{
        scale: 0.75;
    }
}